.grass {
  position: fixed;
  position: fixed;
  width: 100vw;
  height: 869px;
  background-image: url('../assets/grass.png');
  background-size: 100vw 869px;
  bottom: -869px;
}
.grass1reverse {
  position: fixed;
  width: 100vw;
  height: 869px;
  background-image: url('../assets/grass.png');
  background-size: 100vw 869px;
  animation: grass1reverse 1s ease-out forwards;
  /* bottom: -869px */
}
@keyframes grass1reverse {
  0% {
    bottom: -750px;
  }
  100% {
    bottom: -869px;
  }
}




.grass1forward {
  position: fixed;
  width: 100vw;
  height: 869px;
  background-image: url('../assets/grass.png');
  background-size: 100vw 869px;
  animation: grass1forward 1s ease-out forwards;
}
@keyframes grass1forward {
  0% {
    bottom: -869px;
  }
  100% {
    bottom: -750px;
  }
}
.grass2reverse {
    position: fixed;
    width: 100vw;
    height: 869px;
    background-image: url('../assets/grass.png');
    background-size: 100vw 869px;
    animation: grass2reverse 1s ease-out forwards;
    /* bottom: -750px */
  }
  @keyframes grass2reverse {
    0% {
      bottom: -200px;
    }
    100% {
      bottom: -750px;
    }
  }

.grass3reverse {
    position: fixed;
    width: 100vw;
    height: 869px;
    background-image: url('../assets/grass.png');
    background-size: 100vw 869px;
    animation: grass3reverse 1s ease-out forwards;
    /* bottom: -200px; */
  }
  @keyframes grass3reverse {
    0% {
      bottom: 2px;
    }
    100% {
      bottom: -200px;
    }
  }
  .grass2forward {
    position: fixed;
    width: 100vw;
    height: 869px;
    background-image: url('../assets/grass.png');
    background-size: 100vw 869px;
    animation: grass2forward 1s ease-out forwards;
  }
  @keyframes grass2forward {
    0% {
      bottom: -750px;
    }
    100% {
      bottom: -200px;
    }
  }
.grass3forward {
  position: fixed;
  width: 100vw;
  height: 869px;
  background-image: url('../assets/grass.png');
  background-size: 100vw 869px;
  animation: grass3forward 1s ease-out forwards;
}
@keyframes grass3forward {
  0% {
    bottom: -200px;
  }
  100% {
    bottom: 2px;
  }
}
.grass1 {
  position: fixed;
  width: 100vw;
  height: 869px;
  background-image: url('../assets/grass.png');
  background-size: 100vw 869px;
  bottom: -750px;
}
.grass2 {
  position: fixed;
  width: 100vw;
  height: 869px;
  background-image: url('../assets/grass.png');
  background-size: 100vw 869px;
  bottom: -200px;
}
.grass3 {
  position: fixed;
  width: 100vw;
  height: 869px;
  background-image: url('../assets/grass.png');
  background-size: 100vw 869px;
  bottom: 2px;
}
@media only screen and (max-width: 900px){
    .grass1forward, .grass2reverse{
        bottom: -750px;
        animation: none !important;
        display: none;
    }
    .grass2forward, .grass3reverse{
        bottom: -150px;
        animation: none !important;
        display: none;
    }
    .grass3forward{
        bottom: 2px;
        animation: none !important;
        display: none;
    }
    .grass1reverse{
        bottom: -869px;
        animation: none !important;
        display: none;
    }
}