.stage0{
  position: fixed;
  left: 0px !important;
  width: 100vw;
  height: 869px;
  background-image: url('../assets/grass.png');
  background-size: 100vw 869px;
  bottom: -869px;
}
.stage1{
  position: absolute;
  left: 0px !important;
  width: 100vw;
  height: 869px;
  background-image: url('../assets/grass.png');
  background-size: 100vw 869px;
  bottom: -232px;
}
.stage2{
  position: fixed;
  left: 0px !important;
  width: 100vw;
  height: 869px;
  background-image: url('../assets/grass.png');
  background-size: 100vw 869px;
  bottom: 0px;
}
/* .stage4{
  position: fixed;
  left: 0px !important;
  width: 100vw;
  height: 869px;
  background-image: url('../assets/grass.png');
  background-size: 100vw 869px;
  bottom: 0px;
} */
@media only screen and (max-width: 1100px){
  .stage0{
    position: fixed;
    left: 0px !important;
    width: 100vw;
    height: 869px;
    background-image: url('../assets/grass.png');
    background-size: 100vw 869px;
    bottom: -869px;
  }
  .stage1{
    position: absolute;
    left: 0px !important;
    width: 100vw;
    height: 869px;
    background-image: url('../assets/grass.png');
    background-size: 100vw 869px;
    bottom: -300px;
  }
  .stage2{
    position: fixed;
    left: 0px !important;
    width: 100vw;
    height: 869px;
    background-image: url('../assets/grass.png');
    background-size: 100vw 869px;
    bottom: 0px;
  }
}
@media only screen and (max-width: 900px){
  .stage0{
    position: fixed;
    left: 0px !important;
    width: 100vw;
    height: 869px;
    background-image: url('../assets/grass.png');
    background-size: 1300px 869px;
    bottom: -869px;
  }
  .stage1{
    position: absolute;
    left: 0px !important;
    width: 100vw;
    height: 869px;
    background-image: url('../assets/grass.png');
    background-size: 1300px 869px;
    bottom: -230px;
  }
  .stage2{
    position: fixed;
    left: 0px !important;
    width: 100vw;
    height: 869px;
    background-image: url('../assets/grass.png');
    background-size: 1300px 869px;
    bottom: -40px;
  }
}
@media only screen and (max-width:600px){
  .stage0{
    position: fixed;
    left: 0px !important;
    width: 100vw;
    height: 869px;
    background-image: url('../assets/grass.png');
    background-size: 1300px 869px;
    bottom: -869px;
  }
  .stage1{
    position: absolute;
    left: 0px !important;
    width: 100vw;
    height: 869px;
    background-image: url('../assets/grass.png');
    background-size: 1300px 869px;
    bottom: -230px;
  }
  .stage2{
    position: fixed;
    left: 0px !important;
    width: 100vw;
    height: 869px;
    background-image: url('../assets/grass.png');
    background-size: 1300px 869px;
    bottom: 0px;
  }
}