.stage0{
  position: fixed;
  width: 99vw;
  height: 869px;
  background-image: url('../assets/grass.png');
  background-size: 100vw 869px;
  bottom: -869px;
}
.stage1{
  position: absolute;
  width: 99vw;
  height: 869px;
  background-image: url('../assets/grass.png');
  background-size: 100vw 869px;
  top: 2900px;
}
.stage2{
  position: fixed;
  width: 99vw;
  height: 869px;
  background-image: url('../assets/grass.png');
  background-size: 100vw 869px;
  bottom: -150px;
}
.stage3{
  position: absolute;
  width: 99vw;
  height: 869px;
  background-image: url('../assets/grass.png');
  background-size: 100vw 869px;
  top: 4950px;
}
.stage4{
  position: fixed;
  width: 99vw;
  height: 869px;
  background-image: url('../assets/grass.png');
  background-size: 100vw 869px;
  bottom: 0px;
}